* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans"), local("NotoSans"),
    url("../fonts/NotoSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Noto Sans Bold"), local("NotoSans-Bold"),
    url("../fonts/NotoSans-Bold.ttf") format("truetype");
}

.about-banner {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.about-banner__text {
  width: fit-content;
  margin: 0 auto;
  font-size: 25px;
  padding-bottom: 15vh;
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: "Noto Sans", sans-serif;
}

.arrow {
  margin: 0 auto;
  background-image: url("../img/arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  animation: arrow-pulse 1.8s infinite;
}

@keyframes arrow-pulse {
  0% {
    background-position: 0px 0px;
  }
  50% {
    background-position: 0px 30px;
  }
  100% {
    background-position: 0px 0px /* анимируем свойство background-position */;
  }
}

.gallery {
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  /* transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s; */
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 70vw;
  border-radius: 8px;
}

.modal-content__container {
  display: flex;
}

.modal-img-container {
  max-width: 600px;
}
.modal-img {
  max-width: 100%;
  max-height: 100%;
}

.modal-text {
  background-color: rgb(255, 248, 236);
  width: 400px;
  font-size: 30px;
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: "Noto Sans", sans-serif;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  color: rgb(255, 255, 255);
  font-size: 15px;
  background-color: darkgray;
  transition: 0.5s;
}

.close-button:hover {
  background-color: rgb(226, 76, 76);
  transform: scale(1.4);
  transition: 0.5s;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.gallery__container {
  max-width: 940px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  /* justify-items: stretch; */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
}

.gallery-item {
  cursor: pointer;
}

.project-link {
}

.project-link__overlay {
}

.gallery-item__pic {
  border: none;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.3);
  max-width: 100%;
}

.bio {
  background: rgb(165, 165, 165);
}

.bio__container {
  padding-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.bio__info {
  width: 940px;
  display: flex;
  justify-content: space-between;
}

.bio__pic {
  margin-right: 20px;
}

.bio__pic > img {
  border-radius: 50%;
}

.bio__text {
  width: fit-content;
  font-size: 22px;
  color: cornsilk;
  margin: auto;
  line-height: 30px;
}

.contacts-list {
  display: flex;
  list-style: none;
}
