* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans"), local("NotoSans"),
    url("../fonts/NotoSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Noto Sans Bold"), local("NotoSans-Bold"),
    url("../fonts/NotoSans-Bold.ttf") format("truetype");
}

.about-banner {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.about-banner__text {
  width: fit-content;
  margin: 0 auto;
  font-size: 25px;
  padding-bottom: 15vh;
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: "Noto Sans", sans-serif;
}

.arrow {
  margin: 0 auto;
  background-image: url("../img/arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  animation: arrow-pulse 1.8s infinite;
}

@keyframes arrow-pulse {
  0% {
    background-position: 0px 0px;
  }
  50% {
    background-position: 0px 30px;
  }
  100% {
    background-position: 0px 0px /* анимируем свойство background-position */;
  }
}

.gallery {
  max-width: 940px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  justify-items: stretch;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  justify-content: center;
}

.gallery-item {
  max-width: 300px;
  max-height: 300px;
  justify-self: center;
}

.gallery-item__pic {
  max-width: 300px;
  max-height: 300px;
}

.bio {
  background: rgb(165, 165, 165);
}

.bio__container {
  padding-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.bio__info {
  width: 940px;
  display: flex;
  justify-content: space-between;
}

.bio__pic {
  margin-right: 20px;
}

.bio__pic > img {
  border-radius: 50%;
}

.bio__text {
  width: fit-content;
  font-size: 22px;
  color: cornsilk;
  margin: auto;
  line-height: 30px;
}

.contacts-list {
  display: flex;
  list-style: none;
}
